.Header
{
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
}

.logo
{
    
width:150px;
}
.nav-items
{
    padding:0px 20px;
}

.nav-items > ul
{
    list-style: none;
    display: flex;
    font-size: 24px;
  
}

.nav-items >ul>li{
    padding: 10px;
    margin: 10px;

}
.res-card
{
    width: 200px;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
}

.res-img
{
    width: 190px;
    height: 150px;
}

.res-container
{
    display: flex;
    flex-wrap: wrap;

    padding: 10px;
}

.shimmer-container
{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-box
{
    background-color: #d1cfcf;
    width: 200px;
    height: 300px;
    margin: 10px;
    
}

.shimmer-button
{
    margin: 10px;
    width: 150px;
    height: 20px;
    background-color: #d1cfcf;
}